*
{
/*border: 1px solid rgba(0,0,0,0.3);*/
box-sizing: border-box;
}


li
{
color: white;
display: inline-block;
float: right;
padding: 20px;
background-color: grey;
}

#Youlink
{
color: white;
font-size: 80px;
height: 130px;
padding: 50px;
margin: auto;
clear: right;
position: relative;
top: 50px;
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg");
background-repeat: no-repeat;
background-position: center center;

}


form
{
display: inline-block;
position: relative;
top: 70px;
}

input
{
height: 42px;
width: 200px;
border-style: solid;
border-color: black;
}

.Button
{
font-size: 12px;
position: relative;
top: 68px;
border: 2px solid black;
border-radius: 5px;
margin: auto;
width: 10%;
display: inline-block;
background-color: grey;
color: white;
}

.liste
{
position: relative;
top: 100px;
}


.Link
{
position: relative;
top: 200px;
}

.Seite
{
text-align: center;
}